

body {
	margin: 0;
	padding: 0;
}

#guard-dog {
	background: url(images/white_blur.png) 50% 0 no-repeat fixed;
	color: white;
	height: 720px;
	margin: 0 auto;
	padding: 120px 0 0 0;
}

.dog-button {
	top: -25px;
}

#dog-info {
	background-color: #FCFFF5;
	color: white; 
	height: 600px;
	margin: 0 auto;
	padding: 120px 0 0 0;
}

#dog-data {
	background: url(images/blur_2.png) 50% 0 no-repeat fixed;
	color: white;
	height: 720px;
	margin: 0 auto;
	padding: 120px 0 0 0;
}

#dog-pack {
	background-color: #3E606F;
	color: white;
	height: 720px;
	margin: 0 auto;
	padding: 120px 0 0 0;

}
#dog-footer {
	background-color: #193441;
	color: white;
	height: 500px;
	margin: 0 auto;
	padding: 120px 0 0 0;
}
@font-face {
	font-family:'hip';
	src: url(fonts/_SIMPLIFICA-Typeface.ttf);
}
.mission-statement
{
	position: relative;
	top: -100px;
}
.team-buttom {
	bottom: -110px;
}
